@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;700;800&display=swap');

body{
    font-family: 'Manrope', sans-serif;
    /*min-width: 600px;*/
}

.navbar-brand {
    color: #956EF5!important;
}

.btn{
    transition: all .2s ease;
    font-weight: 700;
}

.btn-primary{
    border: none;
    background-color: #F1E4FF;
    color: #956EF5;
}

.btn-success{
    border: none;
    background-color: #956EF5;
    color: #fff;
}


.btn-primary:hover{
    background-color: #e1c4ff;
    color: #956EF5;
    transform: scale(1.05);
}

.btn-success:hover{
    border: none;
    background-color: #7d5cd1;
    color: #fff;
    transform: scale(1.05);
}


.hero{
    background-color: #F4F5F7;
    background-image: url('../img/hero_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top; 
}

.hero h1{
    font-size: 3rem;
    font-weight: 800;
    max-width: 16ch;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.hero p{
    max-width: 45ch;
    margin-bottom: 2rem;
}


.hero .cs-pic{
    display: flex;
    justify-content: end;
    margin-top: 7rem;
    margin-bottom: 7rem;
}


.hero .cs-pic img{
    width: 95%;
}

@media only screen and (max-width: 768px) {

    .hero .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .hero .cs-pic{
        display: flex;
        padding-left: 7rem;
        margin-top: 3rem;
        /*overflow: hidden;*/
    }

    .hero .cs-pic img{
        width: 100%;
        margin-top: 2rem!important;
        transform: scale(1.2);
    }

    .hero h1{
        font-weight: 800;
        max-width: 16ch;
        margin-top: -3rem;
        margin-bottom: 2rem;
        /*margin-left: auto;
        margin-right: auto;*/
        text-align: center;
    }

    .hero p{
        text-align: center;
    }

    .hero .cs-headline{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero{
        padding-bottom: 5rem;
    }

}


/* **************** CLIENTES *************** */

.section-clients{
    margin: 5rem auto;
    background-color: #fff;
}


.section-clients .clients{
    text-align: center;
}

.section-clients h2{
    font-weight: 800;
    margin-bottom: 2rem;
}



/* **************** ACERCA DE *************** */

.section-about{
    margin: 5rem auto;
    background-color: #F6F7F9;
    background-image: url(../img/about_bg.png);
    background-repeat: no-repeat;
    background-position-y: bottom;
      background-attachment: fixed;

}


.section-about .about{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-about .cs-about-pic{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}


.section-about h2{
    font-weight: 700;
    margin-bottom: 2rem;
}


.section-about p{
    max-width: 50ch;
    line-height: 2rem;
    text-align: justify;
}


.section-about .social{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 3.5rem
}


.section-about .social a{
    transition: all 0.2s ease;
}


.section-about .social a:hover{
    transform: scale(1.2);
}


@media only screen and (max-width: 768px) {

    .section-about{
        background-image: none;
    }

    .section-about .cs-about-pic{
        padding-top: 3rem;
        border-radius: 1rem;
        background-color: rgb(182, 213, 255);
        margin: 0rem auto;
        margin-top: 3rem;
        width: 80%;
    }

    .section-about .cs-about-pic img{
        width: 50%;
    }

    .section-about .about .desc{
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

.section-about .social{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.section-about .social a{
    width: 20%;
    transition: all 0.2s ease;
}


.section-about .social a:hover{
    transform: scale(1.2);
}


}

/* **************** PRODUCTOS *************** */

.section-products .products{
    margin-bottom: 5rem;
}

.products{
    text-align: center;
}

.products h2{
    margin: 0rem auto;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5rem;
    max-width: 15ch;
}

.product{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.product .content{
    text-align: left;
    max-width: 50ch;
}


.product h5{
    font-weight: 700;
}


/* **************** CURSOS *************** */

.section-cursos{
    background-color: #F1E4FF;
}


.section-cursos h2{
    font-weight: 800;
    margin: 3rem 0rem;
}

.section-cursos .wrapCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-cursos .card{
    border: none;
    background-color: #e9d4ff;
    padding: 0rem;
    margin-bottom: 4rem;
}


.section-cursos .card h5{
    font-weight: 700;
}

.section-cursos .card .image{
    margin: 1rem 0rem;
    text-align: center;
}

.section-cursos .card .image img{
    width: 100%;
}


.section-cursos .card .card-footer{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}



/* **************** CONTACTO *************** */

.section-contacto {
    margin: 5rem auto;
    margin-bottom: 8rem;
}


.section-contacto .contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.section-contacto .cs-wrapForm{
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}


.section-contacto .cs-wrapForm h2{
    font-weight: 700;
    margin-bottom: 1rem;
}

.section-contacto .cs-wrapForm input{
    border: none;
    background-color: #D9DBE1;
    border-radius: 0%;
    outline: none;
    border-color: transparent;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.section-contacto .cs-wrapForm textarea{
    border: none;
    background-color: #D9DBE1;
    border-radius: 0%;
    outline: none;
    border-color: transparent;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    height: 8rem;
}


@media only screen and (max-width: 768px) {

    .section-contacto .cs-wrapForm{
        text-align: center;
    }
    .section-contacto .cs-contacto-img{
        display: none;
    }

}