@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;700;800&display=swap');

body{
    font-family: 'Manrope', sans-serif;
}

.hero{
    background-color: #F4F5F7;
}

.hero h1{
    font-size: 3rem;
    font-weight: 800;
    max-width: 16ch;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.hero p{
    max-width: 45ch;
    margin-bottom: 2rem;
}


.hero .cs-pic{
    margin-top: 7rem;
    margin-bottom: 7rem;
}

@media only screen and (max-width: 768px) {

    .hero .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .hero .cs-pic{
        display: flex;
        padding-left: 7rem;
        /*overflow: hidden;*/
    }

    .hero .cs-pic img{
        width: 100%;
        margin: 5rem auto;
        transform: scale(1.2);
    }

    .hero h1{
        font-weight: 800;
        max-width: 16ch;
        margin-top: -3rem;
        margin-bottom: 2rem;
        /*margin-left: auto;
        margin-right: auto;*/
        text-align: center;
    }

    .hero p{
        text-align: center;
    }

    .hero .cs-headline{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero{
        padding-bottom: 5rem;
    }

}


/* **************** CURSOS *************** */

.section-cursos{
    background-color: #F1E4FF;
}


.section-cursos h2{
    font-weight: 800;
    margin: 3rem 0rem;
}

.section-cursos .wrapCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-cursos .card{
    border: none;
    background-color: #e9d4ff;
    padding: 0rem;
    margin-bottom: 4rem;
}


.section-cursos .card h5{
    font-weight: 700;
}

.section-cursos .card .image{
    margin: 1rem 0rem;
    text-align: center;
}

.section-cursos .card .image img{
    width: 100%;
}


.section-cursos .card .card-footer{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}



/* **************** CONTACTO *************** */

.section-contacto {
    margin: 5rem auto;
    margin-bottom: 8rem;
}


.section-contacto .contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.section-contacto .cs-wrapForm{
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}


.section-contacto .cs-wrapForm h2{
    font-weight: 700;
    margin-bottom: 1rem;
}

.section-contacto .cs-wrapForm input{
    border: none;
    background-color: #D9DBE1;
    border-radius: 0%;
    outline: none;
    border-color: transparent;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}

.section-contacto .cs-wrapForm textarea{
    border: none;
    background-color: #D9DBE1;
    border-radius: 0%;
    outline: none;
    border-color: transparent;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    height: 8rem;
}